<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cocosw.undobar.example">

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:allowBackup="false">
        <activity
            android:name="com.cocosw.undobar.example.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cocosw.undobar.example.UndoStyle"
            android:label="@string/title_activity_undo_style"></activity>
        <activity
            android:name="com.cocosw.undobar.example.RetryStyle"
            android:label="RetryStyle"></activity>
        <activity
            android:name="com.cocosw.undobar.example.MessageStyle"
            android:label="@string/title_activity_message_style"
            android:windowSoftInputMode="adjustResize|stateVisible"></activity>
        <activity
            android:name="com.cocosw.undobar.example.Customize"
            android:label="@string/title_activity_customize"></activity>
        <activity
            android:theme="@style/MaterialTheme"
            android:name="com.cocosw.undobar.example.SnackBar"
            android:label="@string/title_activity_customize"></activity>
    </application>
</manifest>